<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Sugar Water" %></title>

    <link type="text/plain" rel="author" href="humans.txt" />

    <%= stylesheet_link_tag "vendor/normalize" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "jquery-3.1.1.min" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <!-- Minimal layout without navigation header -->
    
    <div class="main">
      <%= yield %>
      <!-- <div id="overlay"></div> -->
      <div id="overlay"></div>
    </div>
    <%= partial "layouts/footer" %>
  </body>

</html>
