---
title: Sugar Water
---

<section class="intro">
  <!-- <div class="tagline-container"> -->
    <p class="tagline">
      Thoughtfully crafted <strong>drinks</strong> in <strong>uncommon spaces</strong>
    </p>
    
  <!-- </div> -->
  <img class="image" src="images/Grapefruit-bittersweet-large.png" alt="">
</section>

<hr>

<section class="what">
  <div class="heading-box">
    <h2 id="services" class="box h4">What We Do</h2>
  </div>
  <ul class="block-list">
    <li>
      <img src="images/MC7-Saturday-202 Copy.jpg" alt="">
      <div class="text">
        <h3>Setup Anywhere</h3>
        <p class="subhead h5">Nulla venenatis, justo semper luctus sagittis, leo urna.</p>
        <p>
          We come to you, bringing a mobile bar, liquor, ingredients, tools and everything else with us for a beautifully considered service. 
        </p>
<!--         <p>
          We love to explore the city, and have been hosted at festivals, store openings, weddings, holiday events and many other gatherings and special occasions.
        </p> -->
      </div>
    </li>
    <li>
      <img src="images/MCxCCCmay2015-081.jpg" alt="">
      <div class="text">
        <h3>Custom Menu</h3>
        <p class="subhead h5">
          Phasellus vitae diam consequat, egestas eros.
        </p>
        <p>
          We work with you to create a unique menu offering that is tailored to your event and refined for your palate.
        </p>
        <!-- <p>
          Whether you are new to cocktails or are a seasoned connoisseur
        </p> -->
      </div>
    </li>
    <li>
      <img src="images/IMG_5109.jpg" alt="">
      <div class="text">
        <h3>Best Crew</h3>
        <p class="subhead h5">
          Nulla facilisi. Etiam maximus, purus quis imperdiet.
        </p>
        <p>
          We staff incredible bartenders that are, most importantly, personable and professional. They are good peoples.
        </p>
      </div>
    </li>
  </ul>
  <div class="section-end">
    <a class="standalone h5" href="/services">More on Our Services</a>
  </div>
</section>

<hr>

<section class="select-drinks">
  <div class="text">
    <div class="heading-box">
      <h2 id="menu" class="box h4">Drinks</h2>
    </div>
    <p class="section-intro">We’re always playing and experimenting. Here’s some recent additions to our family of original drinks.</p>
    
    <ul class="drinks">
      <% dato.homepage.feature_drinks.each do |drink| %>
        <li class="drink">
          <p class="name h3"><%= drink.name  %></p>
          <p class="notes h6"><%= drink.short_description  %></p>
          <p class="description interface"><%= drink.ingredients  %></p>
          <p class="alcohol-volume h6"><%= drink.alcohol_volume %> oz</p>
        </li>
      <% end %>
    </ul>
    <div class="section-end">
      <a class="standalone h5" href="/menu">Check out our menu</a>
    </div>
  </div>
  <img src="images/kyo-pouring-grenadine.jpg" alt="">
</section>

<hr>

<section class="select-events">
  <div class="heading-box">
    <h2 id="events" class="box h4">Events</h2>
  </div>
  <p class="section-intro">Come visit us at a few of our upcoming events.</p>
  <ul class="events">
    <% dato.events.sort_by{|event| event.start_date_time }.first(3).each do |event| %>
      <li class="event">
        <p class="date h5"> <%= event.start_date_time.localtime.strftime("%A, %B %e") %> </p>
        <p class="name h3"> <%= event.name %></p>
        <p class="location h6"><a href=" <%= event.map_link %> " target="_blank"> <%= event.location %> </a></p>
        <p class="time h6"> <%= event.start_date_time.localtime.strftime("%l%P") %> - <%= event.end_date_time.localtime.strftime("%l%P") %> </p>
        <p class="description interface"> <%= event.short_description %> </p>
      </li>
    <% end %>
  </ul>
  <div class="section-end">
    <a class="standalone h5" href="/events">All our upcoming events</a>
  </div>
</section>

<section class="contact">
  <div class="heading-box">
    <h2 id="contact" class="box h4">Get in Touch</h2>
  </div>
  <div class="info">
    <a href="mailto:hello@sugarwater.bar" class="standalone h3">hello@sugarwater.bar</a>
  </div>
  <div class="details">
    <p>Questions? Planning an event? Let us know what you have in mind (time, location, kind of event, etc.)</p>
  </div>
</section>