---
title: Sugar Water
---

<section class="intro">
  <!-- <div class="tagline-container"> -->
    <p class="tagline">
      Thoughtfully crafted <strong>drinks</strong> in <strong>uncommon spaces</strong>
    </p>
    
  <!-- </div> -->
  <img class="image" src="images/Grapefruit-bittersweet-large.png" alt="">
</section>

<hr>

<section class="what">
  <div class="heading-box">
    <h2 class="box h4">What We Do</h2>
  </div>
  <ul class="block-list">
    <li>
      <img src="images/MC7-Saturday-202 Copy.jpg" alt="">
      <div class="text">
        <h3>Setup Anywhere</h3>
        <p class="subhead h5">Nulla venenatis, justo semper luctus sagittis, leo urna.</p>
        <p>
          Ut elit urna, dapibus at nunc in, malesuada hendrerit sem. Vivamus risus sapien, lobortis sit amet mauris.
        </p>
      </div>
    </li>
    <li>
      <img src="images/MCxCCCmay2015-081.jpg" alt="">
      <div class="text">
        <h3>Custom Menu</h3>
        <p class="subhead h5">
          Phasellus vitae diam consequat, egestas eros.
        </p>
        <p>
          Donec eu vestibulum enim, sed finibus ligula. Proin porta in nisi in lacinia. Fusce at diam eleifend, mollis tellus et, scelerisque lorem. Vivamus sollicitudin.
        </p>
      </div>
    </li>
    <li>
      <img src="images/IMG_5109.jpg" alt="">
      <div class="text">
        <h3>Best Crew</h3>
        <p class="subhead h5">
          Nulla facilisi. Etiam maximus, purus quis imperdiet.
        </p>
        <p>
          Maecenas a sapien sodales, tristique magna id, dictum libero. Cras ornare nisl ut ex commodo, a faucibus diam accumsan. Proin dignissim, dui.
        </p>
      </div>
    </li>
  </ul>
  <a class="standalone h5" href="#">More on Our Services</a>
</section>

<hr>

<section class="select-drinks">
  <div class="text">
    <div class="heading-box">
      <h2 class="box h4">Drinks</h2>
    </div>
    <p class="section-intro">We’re always playing and experimenting. Here’s some recent additions to our family of original drinks.</p>
    
    <ul class="drinks">
      <% dato.drinks.each do |drink| %>
        <li class="drink">
          <p class="name h3"><%= drink.name %></p>
          <p class="notes h6"><%= drink.short_description %></p>
          <p class="description interface"><%= drink.ingredients %></p>
          <p class="alcohol-volume h6"><%= drink.ounces %> oz</p>        
        </li>
      <% end %>
    </ul>
    <a class="standalone h5" href="#">Check out our menu</a>
  </div>
  <img src="images/kyo-pouring-grenadine.jpg" alt="">
</section>

<hr>

<section class="select-events">
  <div class="heading-box">
    <h2 class="box h4">Events</h2>
  </div>
  <ul class="events">
    <% dato.events.sort_by{|event| event.start_date_time }.first(3).each do |event| %>
      <li class="event">
        <p class="date h5"> <%= event.start_date_time.localtime.strftime("%A, %B %e") %> </p>
        <p class="name h3"> <%= event.name %></p>
        <p class="location h6"><a href=" <%= event.map_link %> "> <%= event.location %> </a></p>
        <p class="time h6"> <%= event.start_date_time.localtime.strftime("%l%P") %> - <%= event.end_date_time.localtime.strftime("%l%P") %> </p>
        <p class="description interface"> <%= event.short_description %> </p>
      </li>
    <% end %>
  </ul>
  <a class="standalone h5" href="#">All our upcoming events</a>
</section>

<section class="contact">
  <div class="heading-box">
    <h2 class="box h4">Get in Touch</h2>
  </div>
  <div class="info">
    <a href="mailto:hello@sugarwater.bar" class="standalone h3">hello@sugarwater.bar</a>
  </div>
  <div class="details">
    <p>Nunc orci nisi, aliquam ac orci in, bibendum ultricies dolor. Integer convallis mattis enim sed ornare. Aenean mollis elementum ipsum, ac.</p>
  </div>
</section>