---
title: Sugar Water Menu
---

<section class="intro">
  <div class="heading-box">
    <h1 id="menu" class="box h4">
      Selected Menu
    </h1>
  </div>
  <div class="intro-text">
    <%= dato.menu_page.content  %>
  </div>
</section>
<section class="select-drinks">
  <ul class="drinks">
    <% dato.drinks.each do |drink| %>
      <li class="drink">
        <p class="name h3"><%= drink.name %></p>
        <p class="notes h6"><%= drink.short_description %></p>
        <p class="description interface"><%= drink.ingredients %></p>
        <p class="alcohol-volume h6"><%= drink.alcohol_volume %> oz</p>        
      </li>
    <% end %>
  </ul>


</section>

<!-- section.agave? -->
<!-- Do I need to implement sorting by drink-type with Dato? -->